@font-face {
    font-family: 'Exo 2';
    src: url('static/Exo2-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Exo 2';
    src: url('static/Exo2-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Exo 2';
    src: url('static/Exo2-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
html,
body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9e9e9;
    overflow-x: hidden;
}
@media (max-width: 921px) {
    body {
        align-items: unset;
    }
}
input,
select,
textarea {
    font-family: 'Exo 2';
    width: 100%;
    margin-top: 40px;
    padding-bottom: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #d5d9dc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #036772;
    resize: none;
    overflow: hidden;
    font-size: 14px;
}
input:focus,
select:focus,
textarea:focus {
    border-bottom: 2px solid #b4bac6;
}

@media (max-width: 921px) {
    input,
    select,
    textarea {
        padding-bottom: 10px;
        font-size: 20px;
    }
}
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
body input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #036772;
    text-overflow: ellipsis;
}
.form-card {
    display: flex;
    width: 921px;
    height: 534px;
    background: #fff;
    box-shadow: 0px 6px 45px 0px rgba(0, 0, 0, 0.35);
}
@media (max-width: 921px) {
    .form-card {
        display: block;
        min-height: 100%;
    }
}
.form-card-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-basis: 300px;
    text-align: center;
    font-family: 'Exo 2';
    font-style: normal;
    line-height: normal;
    color: #ffffff;
    background: url('static/logo.jpg');
    background-size: cover;
    background-position: center;
}
@media (max-width: 921px) {
    .form-card-image {
        height: 100vh;
    }
}
.brand-title {
    display: block;
    margin-top: 15%;
    font-weight: 500;
    font-size: 28px;
}
.text-main-picture {
    display: block;
    padding: 40px;
    font-weight: normal;
    font-size: 14px;
}
@media (max-width: 921px) {
    .text-main-picture {
        padding-bottom: 20px;
    }
}

#scroll-hint {
    display: none;
}
@keyframes scroll-hint-animation {
    0% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}
@media (max-width: 921px) {
    #scroll-hint {
        display: inline-block;
        height: 50px;
        width: 100px;
        margin-bottom: 20px;
        background: url('static/arrow_down.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
        animation: scroll-hint-animation 2s infinite;
    }
}

.form-card-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background: #fff;
}
.form-card-title {
    flex-basis: 100%;
    padding: 50px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #024147;
}
@media (max-width: 921px) {
    .form-card-title {
        padding: 50px 20px;
        font-size: 20px;
    }
}

.form-card-fields {
    flex-basis: 68%;
    height: 262px;
    padding: 0 20px 0 50px;
    box-sizing: border-box;
    overflow: auto;
}
@media (max-width: 921px) {
    .form-card-fields {
        flex-basis: 100%;
        height: 100%;
        padding: 0 20px;
    }
}
::-webkit-scrollbar {
    width: 5px;
    background: #d5d9dc;
}
::-webkit-scrollbar-thumb {
    width: 12px;
    height: 12px;
    background-color: #b4bac6;
}
.field-label {
    display: block;
    margin-top: 40px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #036772;
}
@media (max-width: 921px) {
    .field-label {
        font-size: 20px;
    }
}
#hobbies,
#essay {
    padding: 0;
    margin-top: 12px;
}

.form-card-file_input {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    height: 262px;
    padding: 0 50px 0 20px;
    box-sizing: border-box;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #036772;
}
@media (max-width: 921px) {
    .form-card-file_input {
        flex-basis: 100%;
        padding: 0 20px;
        height: 200px;
        box-sizing: border-box;
    }
}

.text-photo-upload {
    font-size: 14px;
}
@media (max-width: 921px) {
    .text-photo-upload {
        font-size: 20px;
    }
}

#photos-count {
    font-size: 72px;
    font-weight: 600;
    line-height: 0.67;
    color: #b4bac6;
}

.form-card-register_wrapper {
    flex-basis: 100%;
    padding: 50px;
}
@media (max-width: 921px) {
    .form-card-register_wrapper {
        margin: 20px;
        margin-top: 60px;
        padding: 0px;
    }
}

.attachment {
    display: flex;
    justify-content: space-between;
}

.attachment input {
    display: none;
}

.attachment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 7px;
    text-align: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    border-radius: 50%;
    background: #036772;
    cursor: pointer;
    color: #ffffff;
    transition: box-shadow 100ms ease-in-out;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75);
}
.attachment-button:hover {
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
}
.attachment-button:active {
    box-shadow: none;
}
@media (max-width: 921px) {
    .attachment-button {
        width: 55px;
        height: 55px;
        margin-right: 0;
    }
}
.papper-clip {
    width: 17px;
    height: 16px;
}

.submit {
    display: block;
    margin: 0 auto;
    padding: 12px 50px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 19px;
    font-family: 'Exo 2';
    font-size: 14px;
    font-weight: 600;
    background: #036772;
    border: 1px solid #035f69;
    cursor: pointer;
    color: #fff;
    transition: box-shadow 100ms ease-in-out;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75);
}
.submit:hover {
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
}
.submit:active {
    box-shadow: none;
}