@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo2-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo2-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Exo 2";
  src: src: url("fonts/Exo2-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

body {
  background-color: #222222;
}
.background-first-col {
  position: absolute;
width: 371px;
height: 534px;
left: 188px;
top: 147px;
  background: url("image 2.svg");
}
.mr-rea {
  position: relative;
  text-align: center;
  width: 155px;
height: 34px;
left: 110px;
top: 86px;
font-family: "Exo 2";
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 28px;
color: #FFFCFC;
}

.text-on-pic {
  position: relative;
  width: 288px;
height: 48px;
left: 45px;
top: 420px;
font-family: "Exo 2";
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: center;
color: #FFFFFF;
}

.form-sign-up {
position: relative;
width: 550px;
height: 534px;
left: 150px;
top: 147px;
background: #FFFFFF;
color: #036772;
}

strong {
  position: absolute;
width: 99px;
height: 20px;
margin-left: 54px;
margin-top: 51px;
font-family: "Exo 2";
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 16px;
color: #024147;
}

.main-form{
  position: relative;
font-family: "Exo 2";
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
color: #036773;
}

.main-info {
  position: absolute;
width: 54px;
height: 15px;
margin-left: 50px;
margin-top: 140px;
font-family: "Exo 2";
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
}

.type {
  margin-top: 40px;
}

input, textarea, select {
  width: 179px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #D5D9DC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #036772;
  resize: none;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.submit {
  position: absolute;
width: 186px;
height: 38px;
left: 184px;
bottom: 50px;
background: #FFFFFF;
border: 1px solid #035F69;
box-sizing: border-box;
border-radius: 10px;
font-family: "Exo 2";
text-align: center;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
}

.text-photos {
  position: absolute;
width: 176px;
height: 44px;
left: 40px;
top: 132px;
font-family: "Exo 2";
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
color: #036772;;
}

.add-photo{
  position: relative;
width: 151px;
height: 36px;
left: 36px;
top: 245px;
background: #036772;
border-radius: 10px;
}

.add-photo input {
  display: none;
}

.add-photo span {
  position: absolute;
width: 100%;
height: 15px;
left: 21px;
top: 10px;
font-family: "Exo 2";
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
color: #FFFFFF;
}

.papper-clip {
  padding-left: 32px;
}
