@font-face {
     font-family: "Exo 2";
     src: url("fonts/Exo2-Regular.otf") format("truetype");
     font-style: normal;
     font-weight: normal;
}
 @font-face {
     font-family: "Exo 2";
     src: url("fonts/Exo2-Bold.ttf") format("truetype");
     font-style: normal;
     font-weight: bold;
}
 @font-face {
     font-family: "Exo 2";
     src: url("fonts/Exo2-SemiBold.ttf") format("truetype");
     font-style: normal;
     font-weight: 600;
}
 html, body {
     height: 100%;
     margin: 0;
}
 body {
     display: flex;
     align-items: center;
     justify-content: center;
     background: #333;
     overflow-x: hidden;
}
 input, select, textarea {
     font-family: "Exo 2";
     width: 100%;
     margin-top: 40px;
     border: 0;
     outline: 0;
     background: transparent;
     border-bottom: 2px solid #D5D9DC;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     color: #036772;
     resize: none;
     overflow: hidden;
     font-size: 12px;
}
 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     -moz-appearance: none;
}
body input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #036772;
    text-overflow:ellipsis;
}
 .form-card {
     display: flex;
     width: 921px;
     height: 534px;
     background: #fff;
}
 .form-card-image {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100%;
     flex-basis: 371px;
     text-align: center;
     font-family: "Exo 2";
     font-style: normal;
     line-height: normal;
     color: #FFFFFF;
     background: url("image 2.jpg");
}
 .brand-title {
     display: block;
     margin-top: 15%;
     font-weight: 500;
     font-size: 28px;
}
 .text-main-picture {
     display: block;
     padding: 40px;
     font-weight: normal;
     font-size: 12px;
}
 .form-card-content {
     display: flex;
     flex-wrap: wrap;
     flex: 1;
}
 .form-card-title {
     flex-basis: 100%;
     padding: 50px;
     font-family: "Exo 2";
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-size: 16px;
     color: #024147;
}
 .form-card-fields {
     flex-basis: 50%;
     height: 262px;
     padding: 0 50px;
     box-sizing: border-box;
     overflow: auto;
}
::-webkit-scrollbar {
     width: 5px;
    background: #D5D9DC;
}
::-webkit-scrollbar-thumb  {
     width: 12px;
     height: 12px;
     background-color: #B4BAC6;
}
 .field-label {
     display: block;
     margin-top: 10%;
     font-family: "Exo 2";
     font-style: normal;
     font-weight: normal;
     line-height: normal;
     font-size: 12px;
     color: #036772;
}
#hobbies-and-essay {
    margin-top: 10%;
}
 .form-card-file_input {
     padding: 0 50px;
     box-sizing: border-box;
     width: 176px;
     height: 44px;
     flex-basis: 50%;
     font-family: "Exo 2";
     font-style: normal;
     font-weight: normal;
     line-height: normal;
     font-size: 12px;
     color: #036772;
}
.text-photo-upload {
     text-align: left;
}
 .form-card-register_wrapper {
     flex-basis: 100%;
     padding: 50px;
}
 .attachment input {
     display: none;
}

 .attachment-button {
     justify-content: space-between;
     align-items: center;
      width: 151px;
      height: 36px;
      margin-top: 69px;
      background: #036772;
      border-radius: 10px;
     display: flex;
     text-align: center;
     font-family: "Exo 2";
     font-style: normal;
     font-weight: normal;
     line-height: 36px; /*так можно ваще?*/
     font-size: 12px;
     cursor: pointer;
     color: #FFFFFF;
}
.attachment-button-text {
    margin-left: 20px;
}
 .papper-clip {
    width: 17px;
    height: 16px;
    margin-right: 20px;
}
 .submit {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 186px;
     height: 38px;
     background: #FFFFFF;
     border: 1px solid #035F69;
     box-sizing: border-box;
     border-radius: 10px;
     font-family: "Exo 2";
     text-align: center;
     font-style: normal;
     font-weight: normal;
     line-height: normal;
     font-size: 12px;
     color: #036772;
}
