html,
body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background: #DCD5D5;
    overflow-x: hidden;
}
@media (max-width: 1140px) {
    body {
        align-items: unset;
    }
}
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #D6C1C1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #201010;
    resize: none;
    overflow: hidden;
    font-size: 17.5px;
}
input:focus,
textarea:focus {
    border-bottom: 2px solid #8b9bbe;
    color: #201010;
}
select {
    color: #201010;
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: #201010;
}
input::-ms-input-placeholder {
    opacity: 1;
    color: #201010;
}
input:-ms-input-placeholder {
    opacity: 1;
    color: #201010;
}
input::-moz-placeholder {
    opacity: 1;
    color: #201010;
}
input:-moz-placeholder {
    opacity: 1;
    color: #201010;
}
input::placeholder {
    opacity: 1;
    color: #201010;
}
input,
select,
textarea,
.field-label,
.select-faculty,
.select-year {
    margin-top: 60px;
}
@media (max-width: 1140px) {
    input,
    select,
    textarea {
        padding-bottom: 10px;
        font-size: 20px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
body input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #201010;
    text-overflow: ellipsis;
}
.form-card {
    display: flex;
    width: 1140px;
    height: 667px;
    box-shadow: 0px 6px 45px 0px rgba(0, 0, 0, 0.35);
}
@media (max-width: 1140px) {
    .form-card {
        width: 1140px;
        display: block;
        min-height: 100%;
        width: 100%;
    }
}
.form-card-image {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    flex-basis: 375px;
    text-align: center;
    color: #201010;
    background: url('static/logo2.jpg');
    background-size: cover;
    background-position: center;
}
@media (max-width: 1140px) {
    .form-card-image {
        height: 100vh;
    }
}

#scroll-hint {
    display: none;
}
@keyframes scroll-hint-animation {
    0% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}
@media (max-width: 1140px) {
    #scroll-hint {
        display: inline-block;
        height: 50px;
        width: 100px;
        margin-bottom: 20px;
        background: url('static/arrow_down.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
        animation: scroll-hint-animation 2s infinite;
    }
}

.form-card-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 45px 50px 50px 50px;
    background: #FFFDFD;
}
@media (max-width: 1140px) {
    .form-card-content {
        padding: 20px;
    }
}

.form-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 50px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 35px;
    color: #201010;
}
@media (max-width: 1140px) {
    .form-card-title {
        font-size: 20px;
    }
}

.itc-link {
    font-weight: bold;
    font-size: 15px;
    color: #DCD5D5;
    text-decoration: none;
}

.form-card-fields {
    flex-basis: 68%;
    max-height: 483px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: auto;
}
@media (max-width: 1140px) {
    .form-card-fields {
        flex-basis: 100%;
        max-height: unset;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }
}

.select-year {
    display: inline-block;
    vertical-align: top;
    width: calc(34% - 3px);
    margin-right: 3px;
}

.select-faculty {
    display: inline-block;
    vertical-align: top;
    width: 65%;
}

.type-field:first-child {
    margin-top: 0;
}
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    width: 15px;
    height: 5px;
    background-color: #DCD5D5;
}
.field-label {
    display: block;
    font-size: 17.5px;
    color: #201010;
}
@media (max-width: 1140px) {
    .field-label {
        font-size: 20px;
    }
}

label.error {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17.5px;
    color: #ff7b7b;
}

.multiline-field {
    padding: 0;
    margin-top: 15px;
}

.form-card-side_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 31%;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #201010;
}
@media (max-width: 1140px) {
    .form-card-side_content {
        flex-basis: 100%;
        padding: 0;
        box-sizing: border-box;
    }
}
@media (max-width: 1140px) {
    .photo-input-wrapper {
        margin: 50px 0;
    }
}

.text-photo-upload {
    margin-top: 0;
    font-size: 17.5px;
}
@media (max-width: 1140px) {
    .text-photo-upload {
        font-size: 20px;
    }
}

#photos {
    visibility: hidden;
}

#photos-count {
    font-size: 150px;
    font-weight: 600;
    line-height: 0.7;
    color: #DCD5D5;
}

.form-card-register_wrapper {
    flex-basis: 100%;
    padding: 50px;
}
@media (max-width: 1140px) {
    .form-card-register_wrapper {
        margin: 20px;
        margin-top: 60px;
        padding: 0px;
    }
}

.attachment {
    display: flex;
    justify-content: space-between;
}

.attachment input {
    display: none;
}

.attachment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin-right: 7px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    border-radius: 50%;
    background: #986868;
    cursor: pointer;
    color: #201010;
    transition: all 100ms ease-in-out;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
.attachment-button:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}
.attachment-button:active {
    background: #795252;
}
@media (max-width: 1140px) {
    .attachment-button {
        width: 55px;
        height: 55px;
        margin-right: 0;
    }
}
.papper-clip {
    width: 17px;
    height: 16px;
}

.submit {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17.5px;
    font-weight: 600;
    background: #986868;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 100ms ease-in-out;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
.submit:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}
.submit:active {
    background: #795252;
}

.secondary-body {
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background: url('static/blured_cover.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #201010;
}
@media (max-width: 1140px) {
    .secondary-body {
        align-items: center;
    }
}

.secondary-title {
    margin: 10px;
}

.secondary-title-large {
    font-size: 60px;
}

.secondary-button {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #201010;
    color: #201010;
    border-radius: 30px;
    transition: transform 100ms ease-in-out;
}

.secondary-button:hover {
    transform: scale(1.02);
}

.secondary-button:active {
    transform: scale(0.99);
}
